@page "/Contacts"

<div class="center-box">
    <h3>CONTATOS</h3>
</div>


<div class="social">
            <a href="https://github.com/ArielLopes888" target="_blank" class="icons">
                <span class="fab fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/ariel-lisboa-lopes-6ba7a7168/" target="_blank" class="icons">
                <span class="fab fa-linkedin"></span>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5579988381834" target="_blank" class="icons">
                <span class="fab fa-whatsapp"></span>
            </a>
            <a href="https://mailto:ariellopes888@gmail.com" target="_blank" class="icons">
                        <span class="fab fa-envelope"></span>
            </a>
</div>

@code {

}
