@page "/Educations"
@inject HttpClient Http
@using  BlazorPWA.Shared

<PageTitle>Educations</PageTitle>


<div class="center-box">
  <h3>Educação</h3>
</div>

@if (educations != null)
{
  <div class="transparent-container">
    @foreach (var x in educations)
    {
      <div class="transparent-box">
        <p><strong>Instituição:</strong> @x.University</p>
        <p><strong>Curso:</strong> @x.Course</p>
      </div>
    }
  </div>
}

else
{
    <div class="transparent-box">
        <p>Carregando...</p>
    </div>

}

@code {
     private Education[]? educations;

    protected override async Task OnInitializedAsync()
    {
        educations = await Http.GetFromJsonAsync<Education[]>("Education");
    }
}
