.center-box{
  position: absolute;
  left: 50%;
  right:50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;

}

.transparent-box {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 5s forwards;
    transition-duration: 12s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}