@page "/Experiences"

<PageTitle>Experiências</PageTitle>

<div class="center-box">
    <h3>Experiências:</h3>
</div>
<div>
    <h1></h1>
</div>
<div class="transparent-box">
    <h4>1- MERCADO ELETRÔNICO</h4>
</div>

@code {

}
