@page "/Experiences"
@inject HttpClient Http
@using BlazorPWA.Shared

<PageTitle>Experiências</PageTitle>

<div class="center-box">
    <h3>Experiências Profissionais</h3>
</div>

@if (experiences != null)
{
    <table>
        <tbody>
            @foreach (var exp in experiences)
            {
                <tr>
                    <td>
                        <div class="transparent-box">
                            <p><strong>Posição:</strong> @exp.Position</p>
                            <p><strong>Empresa:</strong> @exp.Company</p>
                            <p><strong>Descrição:</strong> @exp.Description</p>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="transparent-box">
        <p>Carregando...</p>
    </div>

}

@code {
    private Experience[]? experiences;

    protected override async Task OnInitializedAsync()
    {
        experiences = await Http.GetFromJsonAsync<Experience[]>("Experience");
    }
}