.center-box{
    text-align: center;
    left: 50%;
    top: 20%;
    background-color: rgba(253, 253, 253, 0);
    color: rgb(241, 237, 237);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

}
.custom-button {
    background: #ffffffc7;
    font-weight: 800;
    color: #fd3838;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
  }
  
.custom-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #141414;
    border-radius: 8px;
} 
.transparent-box {
    left: 50%;
    top: 40%;
    background-color: rgba(245, 235, 235, 0.836);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 5s forwards;
    transition-duration: 12s;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}