@page "/Skills"

<PageTitle>Habilidades</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BlazorPWA</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/pages.css" rel="stylesheet" />
    <link href="BlazorPWA.Client.styles.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="center-box">
        <h3>Habilidades:</h3>
    </div>
    <div>
        <h1></h1>
    </div>
    <div class="transparent-box">
        <h4>
            1- MERCADO ELETRÔNICO:
            vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
        </h4>
    </div>
</body>


</html>

@code {

}