@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://github.com/ArielLopes888" target="_blank" class="ml-md-auto">
                <span class="fab fa-github"></span>
            </a>
            <a href="https://www.linkedin.com/in/ariel-lisboa-lopes-6ba7a7168/" target="_blank" class="ml-md-auto">
                <span class="fab fa-linkedin"></span>
            </a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
